* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
  background-color: lightgray;
}

.title {
  text-decoration: underline;
}

.search-anime {
  margin-bottom: 20px;
}
.anime-gif {
  width: 50px;
}

.title-and-gif {
  display: flex;
  gap: 20px;
}

.search-input {
  border-width: 3px;
  border-color: aqua;
  height: 26px;
  width: 300px;
}

.search-button {
  background-color: aqua;
  height: 24px;
  width: 60px;
  border-radius: 10%;
  margin-inline: 5px;
}

.reset-button {
  background-color: aqua;
  height: 24px;
  width: 60px;
  border-radius: 10%;
}


.fav-section {
  text-align: center;
  background-color: lightblue;
}

.anime-picture {
  width: 100%;
  
}

.total-animes {
  display:flex;
  gap: 20px;
}

.display-anime {
  text-align: center;
}

.anime-list {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.li-anime {
  list-style: none;
  box-sizing: content-box;
  width: 230px;
  padding: 5px;
  margin-bottom: 10px;
}

.favourites {
  border: solid 6px lightyellow;
  background-color: black;
  color: white;
}

.p1 {
  color: orangered;
}

.p2 {
  color: lightseagreen;
}

.delete {
  margin: 5px;
}
