* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
  background-color: lightgray;
}

.title {
  text-decoration: underline;
}

.favSection {
  text-align: center;
  background-color: lightblue;
}

.animePicture {
  width: 100%;
  
}

.animeTitle {
  font-size: 20px;
}

.totalAnimes {
  display:flex;
  gap: 20px;
}

.liAnime {
  list-style: none;
  box-sizing: content-box;
  width: 230px;
  padding: 5px;
  margin-bottom: 10px;
}

.favourites {
  border: solid 6px lightyellow;
  background-color: black;
  color: white;
}

.p1 {
  color: yellow;
}

.p2 {
  color: lightcoral;
}
